* {
    transition: all ease-in 0.4s;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "Nunito-ExtraBold";
    src: url(../fonts/Nunito-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: "Nunito-Regular";
    src: url(../fonts/Nunito-Regular.ttf);
}